<div class="main-content">
  <h1>
    Drag and Drop Component Generator
  </h1>
  Project is a responsive Single page application using angular which implements
  Drag and drop feature to create angular component.
  <br />
  Features of the application are:
  <br />
  <ul>
    <li>Responsive UI</li>
    <li>
      Drag and drop of input field and button field to layout to create angular
      component
    </li>
    <li>Printing JSON code to the UI</li>
    <li>Downloading the component files after seeing preview</li>
  </ul>
</div>
