<section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxFlexAlign="flex-start"
    fxFlexJustify="flex-start"
    fxFlexAlign.xs="center"
    [ngStyle.xs]="{ width: 90 + '%' }"
    [ngStyle.lt-md]="{ width: 100 + '%' }"
    [ngStyle]="{ width: 75 + '%' }"
  >
    <mat-card
      #formItem
      fxFlexAlign="center"
      [ngStyle.xs]="{
        width: 100 + '%',
        'background-color': '#7765E3',
        'min-height': '30vh',
        'max-height': '30vh',
        overflow: 'auto'
      }"
      [ngStyle.lt-md]="{
        width: 100 + '%',
        'background-color': '#7765E3',
        'min-height': '38vh',
        'max-height': '38vh',
        overflow: 'auto'
      }"
      [ngStyle]="{
        width: 100 + '%',
        'background-color': '#7765E3',
        'min-height': '80vh',
        'max-height': '80vh',
        overflow: 'auto'
      }"
    >
      <mat-card-title>
        Form item
      </mat-card-title>
      <mat-card-content>
        <div class="example-container">
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
          >
            <div class="example-box" *ngFor="let item of todo" cdkDrag>
              <button
                class="button-margin form-item-button-color"
                mat-raised-button
                color="primary"
              >
                {{ item }}
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      #layout
      fxFlexAlign="center"
      [ngStyle.xs]="{
        width: 100 + '%',
        'background-color': '#3B60E4',
        'min-height': '30vh',
        'max-height': '30vh',
        overflow: 'auto'
      }"
      [ngStyle.lt-md]="{
        width: 100 + '%',
        'background-color': '#3B60E4',
        'min-height': '38vh',
        'max-height': '38vh',
        overflow: 'auto'
      }"
      [ngStyle]="{
        'background-color': '#3B60E4',
        width: 100 + '%',
        'min-height': '80vh',
        'max-height': '80vh',
        overflow: 'auto'
      }"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card-title style="display: flex;justify-content: space-between;">
        <span>
          Layout
        </span>
        <span>
          <button
            routerLink="/download"
            mat-raised-button
            class="layout-button-color"
          >
            Download
          </button>
        </span>
      </mat-card-title>
      <mat-card-content id="drop-container-card">
        <!-- only for first initiation this card is used -->
        <div
          id="drop-container-div"
          *ngIf="!this._layoutPreviewService.lastSavedLayout"
          [ngStyle]="{
            display: 'grid',
            'max-height': '85vh',
            overflow: 'auto'
          }"
        ></div>
      </mat-card-content>
    </mat-card>
  </div>
  <div
    #json
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxFlexAlign="center"
    [ngStyle.xs]="{ width: 90 + '%' }"
    [ngStyle.lt-md]="{ width: 100 + '%' }"
    [ngStyle]="{ width: 25 + '%' }"
  >
    <mat-card
      fxFlexAlign="center"
      [ngStyle.xs]="{
        width: 100 + '%',
        'background-color': '#EBEBEB',
        'min-height': '30vh',
        'max-height': '30vh',
        overflow: 'auto'
      }"
      [ngStyle.lt-md]="{
        width: 100 + '%',
        'background-color': '#EBEBEB',
        'min-height': '38vh',
        'max-height': '38vh',
        overflow: 'auto'
      }"
      [ngStyle]="{
        'background-color': '#EBEBEB',
        width: 100 + '%',
        'min-height': '80vh',
        'max-height': '80vh',
        overflow: 'auto'
      }"
    >
      <mat-card-title>
        JSON
      </mat-card-title>
      <mat-card-content>
        <pre id="json"></pre>
      </mat-card-content>
    </mat-card>
  </div>
</section>
