<section fxLayout="row" fxLayout.lt-md="column" fxLayoutGap="10px">
  <div
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxFlexAlign="center"
    [ngStyle.xs]="{ width: 90 + '%' }"
    [ngStyle.lt-md]="{ width: 100 + '%' }"
    [ngStyle]="{ width: 66 + '%' }"
  >
    <mat-card
      #formItem
      fxFlexAlign="center"
      [ngStyle]="{
        width: 100 + '%',
        'background-color': 'red',
        'min-height': '120px'
      }"
    >
      <mat-card-title>
        Form item
      </mat-card-title>
      <mat-card-content>
        <div class="example-container">
          <div
            cdkDropList
            #todoList="cdkDropList"
            [cdkDropListData]="todo"
            [cdkDropListConnectedTo]="[doneList]"
            class="example-list"
          >
            <div class="example-box" *ngFor="let item of todo" cdkDrag>
              <button class="button-margin" mat-raised-button color="primary">
                {{ item }}
              </button>
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <mat-card
      #layout
      fxFlexAlign="center"
      [ngStyle]="{
        width: 100 + '%',
        'background-color': 'green',
        'min-height': '120px'
      }"
      cdkDropList
      #doneList="cdkDropList"
      [cdkDropListData]="done"
      [cdkDropListConnectedTo]="[todoList]"
      (cdkDropListDropped)="drop($event)"
    >
      <mat-card-title>
        Layout
      </mat-card-title>
      <mat-card-content
        style="display: flex; flex-direction: column;"
        id="dropContainer"
      >
      </mat-card-content>
    </mat-card>
  </div>
  <div
    #json
    fxLayout="row"
    fxLayout.xs="column"
    fxLayoutGap="10px"
    fxFlexAlign="center"
    [ngStyle.xs]="{ width: 90 + '%' }"
    [ngStyle.lt-md]="{ width: 100 + '%' }"
    [ngStyle]="{ width: 33 + '%' }"
  >
    <mat-card
      fxFlexAlign="center"
      [ngStyle]="{
        width: 100 + '%',
        'background-color': 'yellow',
        'min-height': '120px'
      }"
    >
      <mat-card-title>
        JSON
      </mat-card-title>
      <mat-card-content>
        <pre id="json"></pre>
      </mat-card-content>
    </mat-card>
  </div>
</section>
